{% extends 'core/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            {% if product.image %}
                <img src="{{product.image.url}}" class="img-fluid mb-3" alt="Responsive image">
            {% endif %}
            <h2 class = 'article-title'>{{ product.title }}</h2>
            <p class="article-content">Price: Rs {{ product.price }}</p>
            <p class="article-content">Vendor: {% firstof product.user.get_full_name product.user.username %}</p>
            <p class="article-content">{{ product.description }}</p>
            <p class="article-content">No. of items: {{ product.no_of_items }}</p>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-outline-secondary mb-2">Add to Cart</a>
            <h4 class="mb-2 mt-2">Reviews</h4>
            <p>
                {% for review in product.reviews.all %}
                    <div class="bg-light px-2 py-2 mb- mt-2">
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong>{{ review.stars }}<br>
                        {{ review.content }}
                    </div>
                {% empty %}
                    <div class="bg-light py-3 px-2">No reviews yet...</div>
                {% endfor %}
            </p>

            {% if request.user.is_authenticated %}
            <form method="POST" acion=".">
                {% csrf_token %}
                <div class="form-group">
                  <label for="stars">Stars</label>
                  <select class="form-control" name="stars" id="stars">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="content">Content</label>
                  <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </div>
            </form>
            {% else %}
            <div class="bg-light mb-2 mt-2">Please sign in to write reviews</div>
            {% endif %}
            
        </div>
    </article>
{% endblock content %}